.poster{
    position: relative;
    top: -68px;
    margin-bottom: -68px;
    -webkit-box-shadow: -12px -10px 12px 2px rgba(0,0,0,0.7); 
    box-shadow: -12px -10px 12px 2px rgba(0,0,0,0.7);
}
.overview{
    text-align: justify;
}

.btn-footer{
    --background: transparent;
    width: 100%;
    --inner-border-width:0;
    --box-shadow: 0;
}